body {
    background: #fff;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

input, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.main-div, .loggedin-div {
    width: 20%;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px;
    /*display: none;*/
}

.main-div input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.main-div input:focus {
    border: 1px solid #777;
}

.main-div button, .loggedin-div button, .btn button {
    background: #f16272;
    color: #fff;
    border: 1px solid #f16272;
   /* border-radius: 5px;*/
    padding: 15px;
    display: block;
    width: 112%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.main-div button:hover, .loggedin-div button:hover,  .btn button:hover {
    background: #f16272;
    color: #5d8ffc;
    border: 1px solid #f16272;
    cursor: pointer;
}
.container-menu-desktop {
    //height: 123px;
    width: 100%;
    position: relative;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.wrap-menu-desktop {
    position: fixed;
    z-index: 1100;
    background-color: #dcdbdb;
    width: 100%;
    height: 90px;
    top: 0px;
    left: 0px;

    -webkit-transition: height 0.3s, background-color 0.3s;
    -o-transition: height 0.3s, background-color 0.3s;
    -moz-transition: height 0.3s, background-color 0.3s;
    transition: height 0.3s, background-color 0.3s;
}
.limiter-menu-desktop {
    max-width: 98%;
    padding: 0 15px;
    margin: 0 auto;
    //height: 120%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: relative;
}
.left-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1200;
    height: 100%;
    top: 0;
    left: 15px;
}
.logo {
    position: relative;
    width: 100%;
    height: 100%;
}
.center-header {
    height: 100%;
}
.menu-desktop {
    height: 100%;
}
.main-menu {
    list-style-type: none;
    margin: 0;
    height: 120%;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.right-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1200;
    height: 100%;
    top: 0;
    right: 15px;
}
.logout_button {
    background: #f16272;
    color: #fff;
    border: 1px solid #f16272;
  /*  border-radius: 5px;*/
    padding: 10px;
    display: block;
    width: 112%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    margin-top: 85px;
}

.icon {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 20px;
}

.photo {
    height: 300px;
    width: 300px;
    margin-top: 40px;
}