<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <div class="wrap-menu-desktop" style="    background-color: #fff ; border-bottom: 1px solid lightgrey;">
            <nav class="limiter-menu-desktop">

                <div class="left-header btn">
                    <button onclick="main()" style="    margin-top: 75px;">Main</button>
                </div>

                <div class="right-header">
                    <!-- Icon header -->
                    <div class="wrap-icon-header flex-w flex-r-m h-full wrap-menu-click ">
                        <div class="h-full flex-m">
                            <div class="h-full flex-m btn">

                                <button onclick="logout()" style="    margin-top: 75px;">Logout</button>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </div>


</header>
<div class="main-div container" style="width: 100%;">

    <div class="row" style="display: flex;">
        <div class="col-md-4"><h3>Name</h3></div>
        <div class="col-md-4"><input type="text" placeholder="Name..." id="Name_field" required/></div>
    </div>

    <div class="row" style="display: flex;">
        <div class="col-md-4"><h3>Price</h3></div>
        <div class="col-md-4"><input type="text" placeholder="Price..." id="Price_field" required/></div>
    </div>

    <div class="row" style="display: flex;">
        <div class="col-md-4"><h3>Author</h3></div>
        <div class="col-md-4"><input type="text" placeholder="Author..." id="Author_field" required/></div>
    </div>

    <div class="row" style="display: flex;">
        <div class="col-md-4"><h3>Сategory</h3></div>
        <div class="col-md-4"><input type="text" placeholder="Сategory..." id="Сategory_field" required/></div>
    </div>

    <div class="row" style="display: flex;">
        <div class="col-md-4"><h3>Description</h3></div>
        <div class="col-md-4"><input type="text" placeholder="Description..." id="Description_field" required/>
        </div>
    </div>

    <div class="row" style="display: flex;" id="filesubmit">
        <div class="col-md-4"><h3>Upload the image</h3></div>
        <div class="col-md-4"><input type="file" id="file-select-img"/></div>
    </div>
    <div class="row" style="display: flex;" id="filesubmit">
        <div class="col-md-4"><h3>Upload the 3D object for mobile app (.sf/.sfb)</h3></div>
        <div class="col-md-4"><input type="file" id="file-select-sf"/></div>
    </div>
    <div class="row" style="display: flex;" id="filesubmit">
        <div class="col-md-4"><h3>Upload the 3D object for web (.obj)</h3></div>
        <div class="col-md-4"><input type="file" id="file-select-obj"/></div>

    </div>
    <div class="row" style="display: flex;" id="filesubmit">
        <div class="col-md-4"><h3>Upload the textures for web (.mtl)</h3></div>
        <div class="col-md-4"><input type="file" id="file-select-mtl"/></div>
    </div>


    <div class="row" style="display: flex;">
        <div class="col-md-4">
            <div class="col-md-4">
                <button style="width: 200px" id="file-submit">Upload</button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>


</div>

<script src="javascripts/app.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', init);
    var config = {
        apiKey: "AIzaSyCWBwA4nQKHOBwdVXVRnDAxIMB_Mw5ycgY",
        authDomain: "sprint-3-48247.firebaseapp.com",
        databaseURL: "https://sprint-3-48247.firebaseio.com",
        projectId: "sprint-3-48247",
        storageBucket: "sprint-3-48247.appspot.com",
        messagingSenderId: "205485785816"
    };

    firebase.initializeApp(config);

    var database = firebase.database();
    const storageService = firebase.storage();
    const storageRef = storageService.ref();

    function init() {
        document.getElementById('file-submit').addEventListener('click', upload);
    }

    function upload() {

        var Name_field = document.getElementById('Name_field').value
        var Price_field = document.getElementById('Price_field').value
        var Author_field = document.getElementById('Author_field').value
        var Сategory_field = document.getElementById('Сategory_field').value
        var Description_field = document.getElementById('Description_field').value
        var imgFile = document.getElementById('file-select-img').files[0]
        var sfFile = document.getElementById('file-select-sf').files[0]
        var objFile = document.getElementById('file-select-obj').files[0]
        var mtlFil = document.getElementById('file-select-mtl').files[0]

        database.ref('models/' + Name_field).set({
            model_name: Name_field,
            model_price: Price_field,
            model_author: Author_field,
            model_category: Сategory_field,
            model_description: Description_field,

        }).catch((error) => {
            console.log(error);
        });
        console.log(Name_field, Price_field, Author_field, Сategory_field, Description_field, imgFile, sfFile, objFile, mtlFil)

        writeModelData(Name_field, Price_field, Author_field, Сategory_field, Description_field, imgFile, sfFile, objFile, mtlFil)

        window.alert('model uploaded')
    }

    function writeModelData(name, price, author, category, description, img, mObj, dObj, dText) {

        console.log(name, price, author, category, description, img, mObj, dObj, dText)


         const imgRef = storageRef.child('models/' + name + '/img/').put(img); //create a child directory called images, and place the file inside this directory

         imgRef.on('state_changed', (snapshot) => {
         }, (error) => {
             console.log(error);
         }, () => {
             var imgUrl = storageService.ref('models/' + name + '/img/')
             imgUrl.getDownloadURL().then((uri) => {
                 database.ref('models/' + name + "/img/").set({
                     model_imgUrl: uri
                 }).catch((error) => {
                     console.log(error);
                 });
             })
         });

         const mObjRef = storageRef.child('models/' + name + '/mobObj/').put(mObj); //create a child directory called images, and place the file inside this directory

         mObjRef.on('state_changed', (snapshot) => {
         }, (error) => {
             console.log(error);
         }, () => {
             var mobObj = storageService.ref('models/' + name + '/mobObj/')
             mobObj.getDownloadURL().then((uri) => {
                 database.ref('models/' + name + '/mobObj').set({
                     model_mobObj: uri
                 }).catch((error) => {
                     console.log(error);
                 });
             })
         });

         const dObjRef = storageRef.child('models/' + name + '/desObj/').put(dObj); //create a child directory called images, and place the file inside this directory

         dObjRef.on('state_changed', (snapshot) => {
         }, (error) => {
             console.log(error);
         }, () => {
             var desObj = storageService.ref('models/' + name + '/desObj/')
             desObj.getDownloadURL().then((uri) => {
                 database.ref('models/' + name + '/desObj/').set({
                     model_desObj: uri
                 }).catch((error) => {
                     console.log(error);
                 });
             })
         });

         const dTextRef = storageRef.child('models/' + name + '/desText/').put(dText); //create a child directory called images, and place the file inside this directory


         dTextRef.on('state_changed', (snapshot) => {
         }, (error) => {
             console.log(error);
         }, () => {
             var desText = storageService.ref('models/' + name + '/desText/')
             desText.getDownloadURL().then((uri) => {
                 database.ref('models/' + name + '/desText/').set({
                     model_desText: uri
                 }).catch((error) => {
                     console.log(error);
                 });
             })
         });
    };
</script>

</body>
</html>