<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
        /* Fonts */
        @import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
        /* fontawesome */
        @import url(http://weloveiconfonts.com/api/?family=fontawesome);

        [class*="fontawesome-"]:before {
            font-family: 'FontAwesome', sans-serif;
        }

        /* Simple Reset */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* body */
        body {
            background: #e9e9e9;
            color: #5e5e5e;
            font: 400 87.5%/1.5em 'Open Sans', sans-serif;
        }

        /* Form Layout */
        .form-wrapper {
            background: #fafafa;
            margin: 3em auto;
            padding: 0 1em;
            max-width: 370px;
        }

        h1 {
            text-align: center;
            padding: 1em 0;
        }

        form {
            padding: 0 1.5em;
        }

        .form-item {
            margin-bottom: 0.75em;
            width: 100%;
        }

        .form-item input {
            background: #fafafa;
            border: none;
            border-bottom: 2px solid #e9e9e9;
            color: #666;
            font-family: 'Open Sans', sans-serif;
            font-size: 1em;
            height: 50px;
            transition: border-color 0.3s;
            width: 100%;
        }

        .form-item input:focus {
            border-bottom: 2px solid #c0c0c0;
            outline: none;
        }

        .button-panel {
            margin: 2em 0 0;
            width: 100%;
        }

        .button-panel .button {
            background: #f16272;
            border: none;
            color: #fff;
            cursor: pointer;
            height: 50px;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.2em;
            letter-spacing: 0.05em;
            text-align: center;
            text-transform: uppercase;
            transition: background 0.3s ease-in-out;
            width: 100%;
        }

        .button:hover {
            background: #ee3e52;
        }

        .form-footer {
            font-size: 1em;
            padding: 2em 0;
            text-align: center;
        }

        .form-footer a {
            color: #8c8c8c;
            text-decoration: none;
            transition: border-color 0.3s;
        }

        .form-footer a:hover {
            border-bottom: 1px dotted #8c8c8c;
        }
    </style>

</head>
<body>
<div class="form-wrapper">
    <h1>Sign In</h1>

        <div class="form-item">
            <label for="email"></label>
            <input type="email" name="email" required="required" placeholder="Email Address" id="email">
        </div>
        <div class="form-item">
            <label for="password"></label>
            <input type="password" name="password" required="required" placeholder="Password" id="password">
        </div>
        <div class="button-panel">
            <button type="submit" class="button" title="Sign In" value="Sign In" id="login">Login</button>
        </div>

    <div class="form-footer">
        <p><a href="/registration">Create an account</a></p>
        <p><a href="/resetPassCMS">Forgot password?</a></p>
    </div>
</div>
<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>

<script>
    var config = {
        apiKey: "AIzaSyCWBwA4nQKHOBwdVXVRnDAxIMB_Mw5ycgY",
        authDomain: "sprint-3-48247.firebaseapp.com",
        databaseURL: "https://sprint-3-48247.firebaseio.com",
        projectId: "sprint-3-48247",
        storageBucket: "sprint-3-48247.appspot.com",
        messagingSenderId: "205485785816"
    };


    firebase.initializeApp(config);

    console.log(firebase.auth().currentUser);

</script>

<script src="javascripts/app.js"></script>

</body>
</html>