<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


    <link rel="stylesheet" href="stylesheets/style.css"/>
    <style>
        a-scene {
            height: 300px;

            width: 600px;
        }
    </style>

</head>
<body style="overflow-x:  hidden;">
<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
<script>
    var config = {
        apiKey: "AIzaSyCWBwA4nQKHOBwdVXVRnDAxIMB_Mw5ycgY",
        authDomain: "sprint-3-48247.firebaseapp.com",
        databaseURL: "https://sprint-3-48247.firebaseio.com",
        projectId: "sprint-3-48247",
        storageBucket: "sprint-3-48247.appspot.com",
        messagingSenderId: "205485785816"
    };

    firebase.initializeApp(config);


    function uploadModel() {
        window.location = "/adminSettings"
    }
</script>
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <div class="wrap-menu-desktop" style="background-color: #fff ; border-bottom: 1px solid lightgrey;">
            <nav class="limiter-menu-desktop">
                <div class="left-header">
                    <!-- Logo desktop -->
                    <div class="logo" style="display: flex;">
                        <a href="/profileSettings"><img id="settingsBtn"
                                                        src="https://png.icons8.com/ios/64/000000/settings.png"
                                                        style="margin-top: 23px;width: 40px;height: 40px;"></a>
                        <img id="icon" src="https://png.icons8.com/ios/64/000000/name.png" class="icon">


                        <h3 id="name" style="margin-top: 40px;">name</h3>


                        <div class="h-full flex-m">

                            <div class="h-full flex-m" style="margin-top: 20px;">
                                <button id="main-btn" onclick="uploadModel()" class="logout_button" style="    margin-top: 20px;
    margin-left: 20px;">Upload model
                                </button>
                            </div>
                        </div>

                        <script>
                            if (user.email !== "1dima1nepl1@gmail.com") {
                                var mainbutton = document.getElementById('main-btn')
                                mainbutton.setAttribute('style', 'display:none;')
                            }
                        </script>


                    </div>
                </div>

                <div class="right-header">
                    <!-- Icon header -->
                    <div class="wrap-icon-header flex-w flex-r-m h-full wrap-menu-click ">
                        <div class="h-full flex-m">
                            <div class="h-full flex-m">

                                <button onclick="logout()" class="logout_button">Logout</button>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<div style="padding-top: 100px;">
    <ul id="photos" style=" list-style-type: none" class="row">
    </ul>
</div>


<script>


    console.log(user);

    window.addEventListener('load', function () {
        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                var user = firebase.auth().currentUser;

                if (user.photoURL != null) {
                    document.getElementById("icon").src = user.photoURL;
                }
                if (user.displayName != null) {
                    document.getElementById("name").innerText = user.displayName;
                }
            }
        });
    }, false);

</script>
<script src="javascripts/app.js"></script>
<script>
    getDataCMS();
</script>
</body>
</html>


