<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Restaurant</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <div class="wrap-menu-desktop" style="    background-color: #fff ; border-bottom: 1px solid lightgrey;">
            <nav class="limiter-menu-desktop">

                <div class="left-header btn">
                    <button onclick="main()" style="    margin-top: 75px;">Main</button>
                </div>

                <div class="right-header">
                    <!-- Icon header -->
                    <div class="wrap-icon-header flex-w flex-r-m h-full wrap-menu-click ">
                        <div class="h-full flex-m">
                            <div class="h-full flex-m btn">

                                <button onclick="logout()" style="    margin-top: 75px;">Logout</button>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </div>


</header>
<div class="main-div container" style="width: 100%;">

    <div class="row" style="display: flex;">
        <div class="col-md-4"><h3>Name</h3></div>
        <div class="col-md-4"><input type="text" placeholder="Name..." id="Name_field" required/></div>
    </div>

    <div class="row" style="display: flex;">
        <div class="col-md-4"><h3>Description</h3></div>
        <div class="col-md-4"><input type="text" placeholder="Description..." id="Description_field" required/>
        </div>
    </div>

    <div class="row" style="display: flex;">
        <div class="col-md-4"><h3>Category</h3></div>
        <div class="col-md-4"><input type="text" placeholder="Category..." id="Category_field" required/></div>
    </div>

    <div class="row" style="display: flex;">
        <div class="col-md-4"><h3>Restaurant</h3></div>
        <div class="col-md-4"><input type="text" placeholder="Restaurant..." id="Restaurant_field" required/></div>
    </div>

    <div class="row" style="display: flex;">
        <div class="col-md-4"><h3>Price</h3></div>
        <div class="col-md-4"><input type="text" placeholder="Price..." id="Price_field" required/></div>
    </div>

    <div class="row" style="display: flex;" >
        <div class="col-md-4"><h3>Cover image</h3></div>
        <div class="col-md-4"><input type="file" id="file-select-img"/></div>
    </div>

    <div class="row" style="display: flex;" >
        <div class="col-md-4"><h3>AR model</h3></div>
        <div class="col-md-4"><input type="file" id="file-select-AR"/></div>
    </div>

    <div class="row" style="display: flex;">
        <div class="col-md-4">
            <div class="col-md-4">
                <button style="width: 200px" id="file-submit">Upload</button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>


</div>

<script src="javascripts/app.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', init);
    var config = {
        apiKey: "AIzaSyCWBwA4nQKHOBwdVXVRnDAxIMB_Mw5ycgY",
        authDomain: "sprint-3-48247.firebaseapp.com",
        databaseURL: "https://sprint-3-48247.firebaseio.com",
        projectId: "sprint-3-48247",
        storageBucket: "sprint-3-48247.appspot.com",
        messagingSenderId: "205485785816"
    };

    firebase.initializeApp(config);

    var database = firebase.database();
    const storageService = firebase.storage();
    const storageRef = storageService.ref();

    function init() {
        document.getElementById('file-submit').addEventListener('click', upload);
    }

    function upload() {

        var Name_field = document.getElementById('Name_field').value
        var Description_field = document.getElementById('Description_field').value
        var Category_field = document.getElementById('Category_field').value
        var Restaurant_field = document.getElementById('Restaurant_field').value
        var Price_field = document.getElementById('Price_field').value
        var imgFile = document.getElementById('file-select-img').files[0]
        var ARFile = document.getElementById('file-select-AR').files[0]

        var id = Math.random().toString(36).substr(2, 9)

        database.ref('dishes/' + id).set({
            dish_name: Name_field,
            dish_description: Description_field,
            dish_category: Category_field,
            restaurant_name: Restaurant_field,
            dish_price: Price_field
        }).catch((error) => {
            console.log(error);
        });


        writeModelData(id, imgFile, ARFile)

        window.alert('model uploaded')
    }

    function writeModelData(id, img, ar) {

        const imgRef = storageRef.child('dishes/' + id + '/img/').put(img); //create a child directory called images, and place the file inside this directory

        imgRef.on('state_changed', (snapshot) => {
        }, (error) => {
            console.log(error);
        }, () => {
            var imgUrl = storageService.ref('dishes/' + id + '/img/')
            imgUrl.getDownloadURL().then((uri) => {
                database.ref('dishes/' + id + "/img/").set({
                    dish_img: uri
                }).catch((error) => {
                    console.log(error);
                });
            })
        });

        const ARRef = storageRef.child('dishes/' + id + '/ar/').put(ar); //create a child directory called images, and place the file inside this directory

        ARRef.on('state_changed', (snapshot) => {
        }, (error) => {
            console.log(error);
        }, () => {
            var imgUrl = storageService.ref('dishes/' + id + '/ar/')
            imgUrl.getDownloadURL().then((uri) => {
                database.ref('dishes/' + id + "/ar/").set({
                    dish_ar: uri
                }).catch((error) => {
                    console.log(error);
                });
            })
        });
    };
</script>

</body>
</html>