<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>


    <script defer src="/__/firebase/5.2.0/firebase-app.js"></script>
    <script defer src="/__/firebase/5.2.0/firebase-auth.js"></script>
    <script defer src="/__/firebase/5.2.0/firebase-database.js"></script>
    <script defer src="/__/firebase/5.2.0/firebase-messaging.js"></script>
    <script defer src="/__/firebase/5.2.0/firebase-storage.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <link rel="stylesheet" href="stylesheets/style.css"/>


    <script>
        var user = JSON.parse(window.sessionStorage.getItem('user'))
        if (user === null) {
            window.location = '/error'
        }

    </script>


</head>
<body>
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <div class="wrap-menu-desktop" style="    background-color: #fff ; border-bottom: 1px solid lightgrey;">
            <nav class="limiter-menu-desktop">

                <div class="left-header btn">
                    <button onclick="main()"  style="    margin-top: 75px;">Main</button>
                </div>

                <div class="right-header">
                    <!-- Icon header -->
                    <div class="wrap-icon-header flex-w flex-r-m h-full wrap-menu-click ">
                        <div class="h-full flex-m">
                            <div class="h-full flex-m btn">

                                <button onclick="logout()" style="    margin-top: 75px;">Logout</button>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="main-div container" style="width: 100%;">
        <div class="row" style="display: flex;">
            <div class="col-md-4"><h3>Change name</h3></div>
            <div class="col-md-4"><input type="text" placeholder="New name..." id="newName_field" required/></div>
            <div class="col-md-4">
                <button style="width: 200px" onclick="changeUserName()">Change</button>
            </div>
        </div>

        <div class="row" style="display: flex;">
            <div class="col-md-4"><h3>Change surname</h3></div>
            <div class="col-md-4"><input type="text" placeholder="New surname..." id="newSurname_field" required/></div>
            <div class="col-md-4">
                <button style="width: 200px" onclick="changeUserSurname()">Change</button>
            </div>
        </div>

        <div class="row" style="display: flex;">
            <div class="col-md-4"><h3>Avatar URL</h3></div>
            <div class="col-md-4"><input type="text" placeholder="Image URL..." id="newAvatar_field" required/></div>
            <div class="col-md-4">
                <button style="width: 200px" onclick="changeUserAvatar()">Change</button>
            </div>
        </div>
        <div class="row" style="display: flex;">
            <div class="col-md-4"><h3>Change phone</h3></div>
            <div class="col-md-4"><input type="text" placeholder="New phone..." id="newPhone_field" required/></div>
            <div class="col-md-4">
                <button style="width: 200px" onclick="changeUserPhone()">Change</button>
            </div>
        </div>
        <div class="row" style="display: flex;">
            <div class="col-md-4"><h3>Change country</h3></div>
            <div class="col-md-4"><input type="text" placeholder="New country..." id="newCountry_field" required/></div>
            <div class="col-md-4">
                <button style="width: 200px" onclick="changeUserCountry()">Change</button>
            </div>
        </div>
        <div class="row" style="display: flex;">
            <div class="col-md-4"><h3>Change city</h3></div>
            <div class="col-md-4"><input type="text" placeholder="New city..." id="newCity_field" required/></div>
            <div class="col-md-4">
                <button style="width: 200px" onclick="changeUserCity()">Change</button>
            </div>
        </div>

    </div>
</header>
<div style="height:3000px"></div>

<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>


<script>
    var config = {
        apiKey: "AIzaSyCWBwA4nQKHOBwdVXVRnDAxIMB_Mw5ycgY",
        authDomain: "sprint-3-48247.firebaseapp.com",
        databaseURL: "https://sprint-3-48247.firebaseio.com",
        projectId: "sprint-3-48247",
        storageBucket: "sprint-3-48247.appspot.com",
        messagingSenderId: "205485785816"
    };


    firebase.initializeApp(config);

</script>
<script src="javascripts/app.js"></script>

</body>
</html>