<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
        /* Fonts */
        @import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

        /* fontawesome */
        @import url(http://weloveiconfonts.com/api/?family=fontawesome);
        [class*="fontawesome-"]:before {
            font-family: 'FontAwesome', sans-serif;
        }

        /* Simple Reset */
        * { margin: 0; padding: 0; box-sizing: border-box; }

        /* body */
        body {
            background: #e9e9e9;
            color: #5e5e5e;
            font: 400 87.5%/1.5em 'Open Sans', sans-serif;
        }

        /* Form Layout */
        .form-wrapper {
            background: #fafafa;
            margin: 3em auto;
            padding: 0 1em;
            max-width: 370px;
        }

        h1 {
            text-align: center;
            padding: 1em 0;
        }

        form {
            padding: 0 1.5em;
        }

        .form-item {
            margin-bottom: 0.75em;
            width: 100%;
        }

        .form-item input {
            background: #fafafa;
            border: none;
            border-bottom: 2px solid #e9e9e9;
            color: #666;
            font-family: 'Open Sans', sans-serif;
            font-size: 1em;
            height: 50px;
            transition: border-color 0.3s;
            width: 100%;
        }

        .form-item input:focus {
            border-bottom: 2px solid #c0c0c0;
            outline: none;
        }

        .button-panel {
            margin: 2em 0 0;
            width: 100%;
        }

        .button-panel .button {
            background: #f16272;
            border: none;
            color: #fff;
            cursor: pointer;
            height: 50px;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.2em;
            letter-spacing: 0.05em;
            text-align: center;
            text-transform: uppercase;
            transition: background 0.3s ease-in-out;
            width: 100%;
        }

        .button:hover {
            background: #ee3e52;
        }

        .form-footer {
            font-size: 1em;
            padding: 2em 0;
            text-align: center;
        }

        .form-footer a {
            color: #8c8c8c;
            text-decoration: none;
            transition: border-color 0.3s;
        }

        .form-footer a:hover {
            border-bottom: 1px dotted #8c8c8c;
        }
    </style>

</head>
<body>
<div class="form-wrapper">
    <h1>Registrtion</h1>
    <form action="/registrationCMS" method="post">
        <div class="form-item">
            <label for="email"></label>
            <input type="text" name="name" required="required" placeholder="Name">
        </div>
        <div class="form-item">
            <label for="email"></label>
            <input type="text" name="surname" required="required" placeholder="Surname">
        </div>
        <div class="form-item">
            <label for="email"></label>
            <input type="text" name="phone" required="required" placeholder="Phone">
        </div>
        <div class="form-item">
            <label for="email"></label>
            <input type="email" name="email" required="required" placeholder="Email Address">
        </div>
        <div class="form-item">
            <label for="password"></label>
            <input type="password" name="password" required="required" placeholder="Password">
        </div>
        <div class="form-item">
            <label for="email"></label>
            <input type="text" name="country" required="required" placeholder="Country">
        </div>
        <div class="form-item">
            <label for="email"></label>
            <input type="text" name="city" required="required" placeholder="City">
        </div>
        <div class="button-panel">
            <input type="submit" class="button" title="Sign In" value="Sign up">
        </div>
    </form>
    <div class="form-footer">

    </div>
</div>

<!--<div id="login_div" class="main-div" style="display: block;">
    <h3>Registration</h3>
    <p>Fill in the fields</p>
    <input type="text" placeholder="Name..." id="name_field" required/>
    <input type="text" placeholder="Surname..." id="surname_field" required/>
    <input type="text" placeholder="Phone..." id="phone_field" required/>
    <input type="email" placeholder="Email..." id="email_field" required/>
    <input type="password" placeholder="Password..." id="password_field" required/>
    <input type="text" placeholder="Country..." id="country_field" required/>
    <input type="text" placeholder="City..." id="city_field" required/>

    <button onclick="register()">Registration</button>
</div>
<div id="user_div" class="loggedin-div" style="display: none;">
    <h3>Welcome User</h3>
    <p id="user_para">Welcome. You're currently logged in.</p>
    <button onclick="logout()">Logout</button>
</div>-->
</body>
</html>